@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

//vars

$naranja: #e39950;
$verde: #bfcf30;
$gris: #e6e6e6;

//reset
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

h1,
h2,
h3 {
  font-family: "Bebas Neue", cursive;
}
h1 {
  width: fit-content;
  background: url(../img/encabezados_bg.png) no-repeat;
  background-size: 100% 100%;
  color: #fff;
  text-align: center;
  padding: 0.1em 1.5em;
  margin: 2em 0;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  font-size: clamp(1.5em, 3vw, 3em);
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Titillium Web", sans-serif;
  position: relative;
  font-size: calc(100% + 0.1vw);
}
a {
  color: #000;
  text-decoration: none;
}
p {
  line-height: 1.6em;
}
// .minmax {
//   display: grid;
//   grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
//   grid-template-columns: repeat(auto-fit, minmax(max-content, 1fr));
// }

//media query
$cel: 479px;
$nocel: 479px;
$tableta: 768px;
$tableta-land: 1024px;
$hd: 1600px;

@mixin cel {
  @media (max-width: #{$cel}) {
    @content;
  }
}

@mixin nocel {
  @media (min-width: #{$nocel}) {
    @content;
  }
}

@mixin tableta_land {
  @media (min-width: #{$tableta-land}) and (max-width: #{$hd - 1px}) {
    @content;
  }
}

@mixin tableta {
  @media (min-width: #{$tableta - 1px}) and (max-width: #{$tableta-land - 1px}) {
    @content;
  }
}

@mixin hd {
  @media (min-width: #{$hd}) {
    @content;
  }
}

.nocel {
  display: block;
}
.cel {
  display: none;
}

@include cel {
  .nocel {
    display: none;
  }
  .cel {
    display: block;
  }
}

.minmax {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-columns: repeat(auto-fit, minmax(max-content, 1fr));
}

.elconte {
  display: grid;
  grid-template-columns: 10% 1fr 10%;
  max-width: 1600px;
  grid-column: 2 / span 1;
  margin: 0 auto;
  @include tableta {
    grid-column: 1 / -1;
  }
}

.btn {
  display: block;
  width: fit-content;
  height: fit-content;
  background-color: #000;
  color: #fff;
  padding: 0.5em 1em;
}
//mixins

// icono de nav
.menu-toggle {
  position: absolute;
  z-index: 999;
  display: none;
  @include cel {
    display: block;
  }
  right: 4vh;
  top: 4.6vh;
  z-index: 520;
  width: 30px;
  height: 22px;
  background: transparent;
  border-top: 4px solid;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: 4px solid;
  color: #000;
  font-size: 0;
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.menu-toggle:before,
.menu-toggle:after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  background: currentColor;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: -webkit-transform 0.25s ease-in-out;
  transition: -webkit-transform 0.25s ease-in-out;
  -o-transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
}

button.is-active {
  border-color: transparent;
  border-left: none;
}
button.is-active:before {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
}
button.is-active:after {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  -ms-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
}

button {
  border: none;
  cursor: pointer;
  outline: none;
  vertical-align: middle;
}

.anima {
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

@keyframes menuAbierto {
  100% {
    width: 100%;
    height: 100vh;
  }
  30% {
    width: 100%;
    height: 8vh;
  }
}
@keyframes menuCerrado {
  100% {
    width: 100%;
    height: 100vh;
  }
}

.menuFullAbierto {
  animation: menuAbierto 1.2s ease forwards;
}

.desanimaMenu {
  animation: menuCerrado 1s ease forwards reverse;
}

//clases y id
#mainNav {
  top: 0;
  z-index: 90;
  width: 100%;
  height: 90px;
  display: flex;
  padding: 0.7em;
  background-color: #fff;
  justify-content: space-evenly;
  align-items: center;
  @include cel {
    flex-direction: column;
    
  }
  ul {
    display: inherit;
    align-items: center;
    justify-content: center;
    @include cel {
      flex-direction: column;
      text-align: center;
      //ul margenes en cel
      padding: 2em 0;
    }
    li {
      padding: 0.1em 1em;
    }
  }
  .mainLogo {
    flex: 1 1 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em 1em;
    @include tableta {
      flex: 1 0 auto;
      width: 150px;
      height: auto;
    }
    @include cel{
      padding-left: 0.6em;
      align-self: flex-start;
    }
  
  }
  .anchor {
    flex: 1 1 auto;
    justify-content: center;
    font-size: 0.9em;
    text-align: center;
    @include tableta {
      flex: 1 1 auto;
      font-size: 0.8em;
    }
    li {
      padding: 0 0.6em;
    }
    li:nth-child(2) {
      flex: 0 0 auto;
    }
  }
}
.submenu {
  width: 100%;
  height: 0px;
  overflow: hidden;
  display: none;
  opacity: 0;
  justify-content: center;
  align-items: center;
  background-color: #e6e6e6;
  ul {
    display: flex;
    li {
      position: relative;
      display: flex;
      align-items: center;
      padding: 0 1em;
      flex: 1;
      span {
        background-color: $verde;
        padding-left: 40%;
        height: auto;
      }
    }
    li:first-child span {
      background-color: $naranja;
    }
    img {
      position: absolute;
      left: 0;
    }
    h3 {
      color: #fff;
      font-family: "Titillium Web", sans-serif;
      text-align: center;
      font-size: 0.9em;
      padding: 0.7em 1em;
    }
  }

  //celular
  @include cel {
    position: absolute;
    z-index: 1000;
    top: 0px;
    height: 90vh;
    ul {
      flex-direction: column;
      padding: 0 20%;
      li {
        margin: 2.5em 0;
      }
      img {
        width: 150px;
      }
    }
  }
}

//animaciones sub menu

@keyframes submenuAbiertoA {
  from {
    opacity: 0;
    height: 0px;
  }
  to {
    opacity: 1;
    height: 300px;
  }
}
@keyframes submenuCerradoA {
  100% {
    opacity: 1;
    height: 300px;
  }
  0% {
    opacity: 0;
    height: 0px;
  }
}

@include cel {
  @keyframes submenuAbiertoA {
    from {
      opacity: 0;
      height: 0px;
    }
    to {
      opacity: 1;
      height: 100vh;
    }
  }
  @keyframes submenuCerradoA {
    100% {
      opacity: 1;
      height: 100vh;
    }
    0% {
      opacity: 0;
      height: 0px;
    }
  }
}

.submenuAbierto {
  animation: submenuAbiertoA 1s ease forwards;
}
.submenuCerrado {
  animation: submenuCerradoA 0.8s forwards reverse;
}

.mostrar {
  display: flex;
}
.social {
  flex: 1 0 auto;
  @include tableta {
    li {
      padding: 0.3em !important;
    }
    img {
      object-fit: cover;
    }
  }
  @include cel {
    flex-direction: row !important;
  }
  img {
    width: auto !important;
    height: 20px !important;
  }
}

// ajustes cel solo menu principal
@include cel {
  #mainNav {
    overflow-y: hidden;
    justify-content: start;
    height: 5em;
    .anchor {
      justify-self: center;
      li {
        
        border-right: none;
        padding: 1em 0;
      }
      li:nth-child(1n + 0 ){
        border-bottom: solid 1px $naranja;
      }
      li:nth-child(2n + 0 ){
        border-bottom: solid 1px $verde;
      }
      li:nth-child(3n + 0 ){
        border-bottom: solid 1px #000;
      }
    }
    .social {
      img {
        width: 2.5em;
      }
    }
  }
  .mainMenuAbierto {
    height: 100vh;
  }
}

.active {
  font-weight: bold;
}

#footer {
  background-color: #000;
  padding: 5%;
  color: #fff;
  font-size: 0.8em;
  @include cel {
    padding: 10vh 5em;
  }
  a {
    color: #fff;
    text-decoration: underline;
  }
  .bandeja {
    @include cel {
      flex-direction: column;
      .col {
        padding-bottom: 2em !important;
      }
      .col:last-child {
        padding-top: 2.2em !important;
        border-left: none !important;
        border-top: solid 1px #fff;
        text-align: center !important;
      }
    }
    display: flex;
    .col {
      flex: 1 1 33%;
      padding: 0 clamp(1em, 5vw, 5em);
      text-align: center;
    }

    .col:last-child {
      border-left: solid 1px #ffffff;
      font-size: 0.8em;
      text-align: left;
      img {
        max-width: 100px;
        @include cel{
          padding-top: 3em;
        }
      }
    }
    ul {
      display: flex;
      justify-content: center;
      p {
        text-align: center;
      }
      li {
        flex: 0 1 auto;
        padding: 1em;
        display: flex;
        img {
          height: 1.5em;
        }
      }
    }
  }
}
.slide {
  img {
    width: 100%;
    height: auto;
  }
}

//recuadros home

#recuadros {
  background: url(../img/fondo_home_bigen_a.jpg) no-repeat;
  background-size: contain;
  background-position: 0 50%;
  @include cel {
    background-size: 120%;
    background-position: 50%;
  }
  h1,
  p {
    grid-column: 2 / span 1;
    text-align: center;
  }

  h1 {
    margin-bottom: 0.5em;
  }
  p {
    margin-bottom: 4em;
  }
  #cuadros {
    grid-column: 2 / span 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .cuadro {
      flex: 1 1 50%;
      display: flex;

      img {
        align-self: start;
        padding: 0.5em 1.5em;
        @include tableta {
          width: 80%;
        }
      }
      p {
        text-align: left;
      }
    }
    .uno,
    .cuatro {
      align-items: center;
    }
    .dos,
    .tres {
      flex-wrap: wrap;
      justify-content: center;
      h2,
      p {
        text-align: center;
      }
    }
    .tres .conte {
      width: 50%;
      span {
        font-size: 0.8em;
      }
    }
    .cuatro {
      h2,
      p {
        text-align: right !important;
      }
      img {
        order: 2;
      }
    }
  }
  @include cel {
    #cuadros {
      grid-column: 1 / -1;
      flex-wrap: wrap;
      .cuadro {
        flex: 1 1 100%;
        img {
          align-self: start;
          padding: 1.5em;
        }
        p {
          text-align: left;
        }
      }
      .uno {
        img {
          width: 50%;
          padding: 0 1.5em 1em 0;
        }
      }

      .dos,
      .tres {
        img {
          width: 70%;
          padding: 1.5em 0 1em;
        }
        p {
          margin-bottom: 1em;
        }
      }
      .cuatro {
        img {
          width: 50%;
          padding: 0 0 1em 1.5em;
        }
      }
    }
  }
}
#compruebalo {
  padding: 0 15%;
  grid-column: 2;
  display: flex;
  align-items: center;
  text-align: center;
  @include cel {
    padding-top: 2em;
    flex-wrap: wrap;
    img {
      transform: translateX(15px);
      -webkit-transform: translateX(15px);
    }
  }
  .conte {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    p {
      flex: 1 1 80%;
      margin-bottom: 1.5em;
    }
  }
}
#conoceBigenHome {
  background: url(/img/fondo_home_bigen_b.jpg) no-repeat;
  background-position: 0 0;
  background-size: 40%;
  @include hd {
    background-size: 35%;
  }
  @include cel{
    background-position: -160% 50% ;
    background-size: 80%;
  }
  h1,
  p {
    grid-column: 2;
    text-align: center;
  }
  h1 {
    margin-bottom: 0.5em;
  }
  .elconte {
    .bandeja {
      display: flex;
      grid-column: 2;
      justify-content: space-evenly;
    }
    .productoConoce {
      margin-top: 5em;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      h2 {
        font-size: 2em;
        padding: 0.6em 0;
      }
    }
    .productoConocepolvo {
      display: grid;
      grid-template-columns: auto 1fr;
      margin: 5em 20%;
      @include tableta {
        margin: 5em 0%;
      }
      @include cel {
        margin: 5em 0%;
        display: flex;
        display: block;
      }

      .bandejaA {
        text-align: center;
        margin: 0 2em;
      }
      .bandeja {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        @include cel {
          text-align: center;
          p {
            text-align: center !important;
            margin: 1em 0;
          }
          a {
            position: relative;
            transform: translateX(-50%);
            left: 50%;
            -webkit-transform: translateX(-50%);
            left: 50%;
          }
        }
        h2 {
          font-size: 2em;
        }
        p {
          text-align: left;
          margin: 1em 0;
        }
      }
    }
  }
}

#encuentraHome {
  background-color: $naranja;
  display: flex;
  flex-wrap: wrap;
  padding: 2.5em 0.5em;
  justify-content: center;
  align-items: center;
  h2 {
    color: #fff;
    font-size: 2.5em;
    padding: 1em 0;
    text-align: center;
  }
  img {
    padding: 0 1em;
  }
  span {
    flex: 1 0 100%;
    display: flex;
    justify-content: center;
  }
}
#blogHome {
 
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 70%,
    rgba(210, 221, 114, 1) 100%
  );
  .bandeja{
    @extend .elconte;
  }
  .post{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 0.5em;
    //opacity: 0.5;
    img, h3, p{
      flex-basis: 100%;
    }
    img{
      width: 100%;
      height: 22vh;
      object-fit: cover;
      padding-bottom: 1em;
      @include cel{
        height: 33vh;
      }
    }
    h3{
      font-size: 1.8em;
      text-align: center;
      padding: 0 1em;
    }
    p{
      padding: 0 1em 1em;
    }
  }
  h1, p {
    margin-bottom: 0.5em;
    grid-column: 2 / span 1;
    text-align: center;
  }
  .slideHome{
    grid-column: 2 / -1;
    padding: 2em 0;
    @include cel{
      grid-column: 2;
    }
  }
  #control{
    grid-column: 2 / span 1;
    display: flex;
    padding: 2em 0;
    justify-content: center;
    img{
      margin:0 3em;
    }
  }
}
input {
  border: none;
  padding: 0.8em;
  width: 100%;
  margin: 0;
  &::placeholder {
    font-weight: bold;
    text-align: center;
    color: $naranja;
  }
}
button {
  color: #fff;
  background-color: $naranja;
  margin: 0;
  font-size: 2.5em;
}
