@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

//vars

$naranja: #f08f0d;
$verde: #bfd031;
$verdeOscuro: #7c8708;
$gris: #e6e6e6;
$rosa: #f59176;
$azul: #2d3756;

//reset
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

h1,
h2,
h3 {
  font-family: "Bebas Neue", cursive;
}
h1 {
  width: fit-content;
  background: url(../img/encabezados_bg.png) no-repeat;
  background-size: 100% 100%;
  color: #fff;
  text-align: center;
  padding: 0.1em 1.5em;
  margin: 2em 0;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  font-size: clamp(1.5em, 3vw, 3em);
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Titillium Web", sans-serif;
  position: relative;
  font-size: calc(100% + 0.1vw);
}
a {
  color: #000;
  text-decoration: none;
}
p {
  line-height: 1.6em;
}
.titanium {
  font-family: "Titillium Web", sans-serif;
}
// .minmax {
//   display: grid;
//   grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
//   grid-template-columns: repeat(auto-fit, minmax(max-content, 1fr));
// }

//media query
$cel: 479px;
$nocel: 479px;
$tableta: 768px;
$tableta-land: 1024px;
$hd: 1600px;

@mixin cel {
  @media (max-width: #{$cel}) {
    @content;
  }
}

@mixin nocel {
  @media (min-width: #{$nocel}) {
    @content;
  }
}

@mixin tableta_land {
  @media (min-width: #{$tableta-land}) and (max-width: #{$hd - 1px}) {
    @content;
  }
}

@mixin tableta {
  @media (min-width: #{$tableta - 1px}) and (max-width: #{$tableta-land - 1px}) {
    @content;
  }
}

@mixin hd {
  @media (min-width: #{$hd}) {
    @content;
  }
}

.nocel {
  display: block;
}
.cel {
  display: none;
}

@include cel {
  .nocel {
    display: none;
  }
  .cel {
    display: block;
  }
}

.minmax {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-columns: repeat(auto-fit, minmax(max-content, 1fr));
}

.elconte {
  display: grid;
  grid-template-columns: 10% 1fr 10%;
  max-width: 1600px;
  grid-column: 2 / span 1;
  margin: 0 auto;
  @include tableta {
    grid-column: 1 / -1;
  }
}

.degraSup {
  height: 30px;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgb(211, 211, 211) 0%,
    rgba(255, 255, 255, 1) 30%
  );
}
.btn {
  display: block;
  width: fit-content;
  height: fit-content;
  background-color: #000;
  color: #fff;
  padding: 0.5em 1em;
}
//mixins

// icono de nav
.menu-toggle {
  position: absolute;
  z-index: 999;
  display: none;
  @include cel {
    display: block;
  }
  right: 4vh;
  top: 4.6vh;
  z-index: 520;
  width: 30px;
  height: 22px;
  background: transparent;
  border-top: 4px solid;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: 4px solid;
  color: #000;
  font-size: 0;
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.menu-toggle:before,
.menu-toggle:after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  background: currentColor;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: -webkit-transform 0.25s ease-in-out;
  transition: -webkit-transform 0.25s ease-in-out;
  -o-transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
}

button.is-active {
  border-color: transparent;
  border-left: none;
}
button.is-active:before {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
}
button.is-active:after {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  -ms-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
}

button {
  border: none;
  cursor: pointer;
  outline: none;
  vertical-align: middle;
}

.anima {
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

@keyframes menuAbierto {
  100% {
    width: 100%;
    height: 100vh;
  }
  30% {
    width: 100%;
    height: 8vh;
  }
}
@keyframes menuCerrado {
  100% {
    width: 100%;
    height: 100vh;
  }
}

.menuFullAbierto {
  animation: menuAbierto 1.2s ease forwards;
  .anchor, .social{
    visibility: visible!important;
    opacity: 1!important;
  }
}

.desanimaMenu {
  animation: menuCerrado 1s ease forwards reverse;
}

//clases y id
#mainNav {
  top: 0;
  z-index: 90;
  width: 100%;
  height: 90px;
  display: flex;
  padding: 0.7em;
  background-color: #fff;
  justify-content: space-evenly;
  align-items: center;
  @include cel {
    flex-direction: column;
  }
  ul {
    display: inherit;
    align-items: center;
    justify-content: center;
    @include cel {
      flex-direction: column;
      text-align: center;
      visibility: hidden;
      opacity: 0;
      transition: all 0.30s ease;
      // -webkit-transition: opacity 0.2s ease;
      padding: 2em 0;
    }
    li {
      padding: 0.1em 1em;
    }
  }

  .mainLogo {
    flex: 1 1 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em 1em;
    @include tableta {
      flex: 1 0 auto;
      width: 150px;
      height: auto;
    }
    @include cel {
      padding: 0.7em;
      align-self: flex-start;
    }
  }
  .anchor {
    flex: 1 1 auto;
    justify-content: center;
    font-size: 0.9em;
    text-align: center;
    @include tableta {
      flex: 1 1 auto;
      font-size: 0.8em;
    }
    li {
      padding: 0 0.6em;
    }
    li:nth-child(2) {
      flex: 0 0 auto;
    }
  }
}
.submenu {
  width: 100%;
  height: 0px;
  overflow: hidden;
  display: none;
  opacity: 0;
  justify-content: center;
  align-items: center;
  background-color: #e6e6e6;
  ul {
    display: flex;
    a {
      display: block;
      li {
        position: relative;
        display: flex;
        align-items: center;
        padding: 0 1em;
        flex: 1 0 40%;
        span {
          background-color: $verde;
          padding-left: 40%;
          height: auto;
        }
      }
    }

    a:first-child li span {
      background-color: $naranja;
      padding-left: 50%;
      @include cel {
        padding-left: 40%;
      }
    }
    a:last-child li span {
      background-color: $rosa;
      padding-left: 50%;
      @include cel {
        padding-left: 40%;
      }
    }
    img {
      position: absolute;
      left: 0;
    }
    h3 {
      color: #fff;
      font-family: "Titillium Web", sans-serif;
      text-align: center;
      font-size: 0.9em;
      padding: 0.7em 1em;
    }
  }
  .cerrarCel {
    display: none;
  }
  //celular
  @include cel {
    .cerrarCel {
      display: block;
      position: absolute;
      top: 30px;
      right: 30px;
      font-size: 1.2em;
      font-weight: bold;
    }
    position: absolute;
    z-index: 1000;
    top: 0px;
    height: 90vh;
    ul {
      flex-direction: column;
      padding: 0 20%;
      li {
        margin: 2.5em 0;
        flex: 1 0 50%;
        padding: 0;
      }
      img {
        width: 150px;
      }
    }
  }
}

//animaciones sub menu

@keyframes submenuAbiertoA {
  from {
    opacity: 0;
    height: 0px;
  }
  to {
    opacity: 1;
    height: 300px;
  }
}
@keyframes submenuCerradoA {
  100% {
    opacity: 1;
    height: 300px;
  }
  0% {
    opacity: 0;
    height: 0px;
  }
}

@include cel {
  @keyframes submenuAbiertoA {
    from {
      opacity: 0;
      height: 0px;
    }
    to {
      opacity: 1;
      height: 100vh;
    }
  }
  @keyframes submenuCerradoA {
    100% {
      opacity: 1;
      height: 100vh;
    }
    0% {
      opacity: 0;
      height: 0px;
    }
  }
}

.submenuAbierto {
  animation: submenuAbiertoA 1s ease forwards;
}
.submenuCerrado {
  animation: submenuCerradoA 0.8s forwards reverse;
}

.mostrar {
  display: flex;
}
.social {
  flex: 1 0 auto;
  @include tableta {
    li {
      padding: 0.3em !important;
    }
    img {
      object-fit: cover;
    }
  }
  @include cel {
    flex-direction: row !important;
  }
  img {
    width: auto !important;
    height: 20px !important;
  }
}

// ajustes cel solo menu principal
@include cel {
  #mainNav {
    overflow: hidden;
    justify-content: start;
    height: 5.3em;
    .anchor {
      justify-self: center;
      li {
        border-right: none;
        padding: 1em 0;
      }
      li:nth-child(1n + 0) {
        border-bottom: solid 1px $naranja;
      }
      li:nth-child(2n + 0) {
        border-bottom: solid 1px $verde;
      }
      li:nth-child(3n + 0) {
        border-bottom: solid 1px #000;
      }
    }
    .social {
      img {
        width: 2.5em;
      }
    }
  }
  .mainMenuAbierto {
    height: 100vh;
  }
}

.active {
  font-weight: bold;
}

#footer {
  background-color: #000;
  padding: 5%;
  color: #fff;
  font-size: 0.8em;
  @include cel {
    padding: 10vh 5em;
  }
  a {
    color: #fff;
    text-decoration: underline;
  }
  .bandeja {
    @include cel {
      flex-direction: column;
      .col {
        padding-bottom: 2em !important;
      }
      .col:last-child {
        padding-top: 2.2em !important;
        border-left: none !important;
        border-top: solid 1px #fff;
        text-align: center !important;
      }
    }
    display: flex;
    .col {
      flex: 1 1 33%;
      padding: 0 clamp(1em, 5vw, 5em);
      text-align: center;
    }

    .col:last-child {
      border-left: solid 1px #ffffff;
      font-size: 0.8em;
      text-align: left;
      img {
        max-width: 100px;
        padding-top: 3em;
      }
    }
    ul {
      display: flex;
      justify-content: center;
      p {
        text-align: center;
      }
      li {
        flex: 0 1 auto;
        padding: 1em;
        display: flex;
        img {
          height: 1.5em;
        }
      }
    }
  }
}
.slide {
  img {
    width: 100%;
    height: auto;
  }
}

//recuadros home

#recuadros {
  background: url(../img/fondo_home_bigen_a.jpg) no-repeat;
  background-size: contain;
  background-position: 0 50%;
  @include cel {
    background-size: 120%;
    background-position: 50%;
  }
  h1,
  p {
    grid-column: 2 / span 1;
    text-align: center;
  }

  h1 {
    margin-bottom: 0.5em;
    margin-top: 1.2em;
  }
  p {
    margin-bottom: 4em;
  }
  #cuadros {
    grid-column: 2 / span 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .cuadro {
      flex: 1 1 50%;
      display: flex;

      img {
        align-self: start;
        padding: 0.5em 1.5em;
        width: 80%;
        @include tableta {
          width: 80%;
        }
      }
      p {
        text-align: left;
      }
    }
    .uno,
    .cuatro {
      align-items: center;
    }
    .dos,
    .tres {
      flex-wrap: wrap;
      justify-content: center;
      h2,
      p {
        text-align: center;
      }
    }
    .tres .conte {
      width: 50%;
      @include cel {
        p {
          text-align: center;
        }
      }
      span {
        font-size: 0.8em;
      }
    }
    .cuatro {
      h2,
      p {
        text-align: right !important;
      }
      img {
        order: 2;
      }
    }
  }
  @include cel {
    #cuadros {
      grid-column: 1 / -1;
      flex-wrap: wrap;
      .cuadro {
        flex: 1 1 100%;
        img {
          align-self: start;
          padding: 1.5em;
        }
        p {
          text-align: left;
        }
      }
      .uno {
        img {
          width: 50%;
          padding: 0 1.5em 1em 0;
        }
      }

      .dos,
      .tres {
        img {
          width: 70%;
          padding: 1.5em 0 1em;
        }
        p {
          margin-bottom: 1em;
        }
      }
      .cuatro {
        img {
          width: 50%;
          padding: 0 0 1em 1.5em;
        }
      }
    }
  }
}
#compruebalo {
  padding: 0 15%;
  grid-column: 2;
  display: flex;
  align-items: center;
  text-align: center;
  @include cel {
    padding-top: 2em;
    flex-wrap: wrap;
    img {
      transform: translateX(15px);
      -webkit-transform: translateX(15px);
    }
  }
  .conte {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    p {
      flex: 1 1 80%;
      margin-bottom: 1.5em;
    }
  }
}
#conoceBigenHome {
  background: url(../img/fondo_home_bigen_b.jpg) no-repeat;
  background-position: 0 0;
  background-size: 40%;
  @include hd {
    background-size: 35%;
  }
  @include cel {
    background-position: -160% 50%;
    background-size: 80%;
  }
  h1,
  p {
    grid-column: 2;
    text-align: center;
  }
  h1 {
    margin-bottom: 0.5em;
  }
  .elconte {
    .bandeja {
      display: flex;
      grid-column: 2;
      justify-content: space-evenly;
    }
    .productoConoce {
      margin-top: 5em;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      h2 {
        font-size: 2em;
        padding: 0.6em 0;
      }
    }
    .productoConocepolvo {
      display: grid;
      grid-template-columns: auto 1fr;
      margin: 5em 20%;
      @include tableta {
        margin: 5em 0%;
      }
      @include cel {
        margin: 5em 0%;
        display: flex;
        display: block;
      }

      .bandejaA {
        text-align: center;
        margin: 0 2em;
      }
      .bandeja {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        @include cel {
          text-align: center;
          p {
            text-align: center !important;
            margin: 1em 0;
          }
          a {
            position: relative;
            transform: translateX(-50%);
            left: 50%;
            -webkit-transform: translateX(-50%);
            left: 50%;
          }
        }
        h2 {
          font-size: 2em;
        }
        p {
          text-align: left;
          margin: 1em 0;
        }
      }
    }
  }
}

#encuentraHome {
  background: url(../img/fondo_naranja.jpg) no-repeat;
  background-size: 100% 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 2.5em 0.5em;
  justify-content: center;
  align-items: center;
  h2 {
    color: #fff;
    font-size: 2.5em;
    text-align: center;
  }
  img {
    padding: 0 1em;
    width: 70px;
  }
  span {
    flex: 1 0 100%;
    display: flex;
    justify-content: center;
  }
  a {
    margin-top: 1em;
  }
}
#blogHome {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 70%,
    rgba(210, 221, 114, 1) 100%
  );
  .bandeja {
    @extend .elconte;
  }
  .post {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 0.5em;
    //opacity: 0.5;
    img,
    h3,
    p {
      flex-basis: 100%;
    }
    img {
      width: 100%;
      height: 22vh;
      object-fit: cover;
      padding-bottom: 1em;
      @include cel {
        height: 33vh;
      }
    }
    h3 {
      font-size: 1.8em;
      text-align: center;
      padding: 0 1em;
    }
    p {
      padding: 0 1em 1em;
    }
  }
  h1,
  p {
    margin-bottom: 0.5em;
    grid-column: 2 / span 1;
    text-align: center;
  }
  .slideHome {
    grid-column: 2 / -1;
    padding: 2em 0;
    @include cel {
      grid-column: 2;
    }
  }
  #control {
    grid-column: 2 / span 1;
    display: flex;
    padding: 2em 0;
    justify-content: center;
    img {
      margin: 0 3em;
    }
  }
}

// seccion descubre

#descubre {
  @extend .elconte;
  background: url(../img/descubre_geisha.jpg) no-repeat;
  background-size: contain;
  background-position: center center;
  @include cel {
    background-size: 140%;
    background-position: 25% 25%;
  }
  h1,
  p,
  img {
    margin-bottom: 0.5em;
    grid-column: 2;
  }
  p {
    padding: 0 20%;
    @include cel {
      padding: 0 10%;
    }
    text-align: center;
  }
  img,
  p:last-child {
    padding-top: 2em;
    justify-self: center;
  }
}
#marcaHoyu {
  margin-top: 5em;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  background: url(../img/descubre_bg_historia.jpg) no-repeat #f2f2f2;
  background-position: left bottom;
  background-size: 60%;
  @include cel {
    grid-template-columns: 1fr;
    background-size: 100%;
  }
  h1 {
    margin: 0.5em 0;
  }
  #izq {
    display: flex;
    justify-content: center;
    align-items: center;
    @include cel {
      order: 2;
    }
    .bandeja {
      padding: 5em;
      display: flex;
      flex-direction: column;
      @include cel {
        padding: 2em;
      }
      @include hd {
        width: 70%;
      }
      p {
        padding: 0.5em 0;
      }
      img {
        padding-bottom: 1em;
        align-self: center;
      }
    }
  }
  #castillo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    @include cel {
      order: 1;
      width: 100%;
      height: auto;
    }
  }
}

#tevesbien {
  background-color: $naranja;
  display: flex;
  flex-wrap: wrap;
  h2 {
    font-size: 2.5em;
  }
  #izq {
    flex: 1 1 auto;
    color: #fff;
    background: url(../img/descubre_bg_creemos.jpg) no-repeat;
    background-size: cover;
    background-position: 0 25%;
    text-align: right;
    padding: 2em;
    @include cel {
      text-align: center;
      flex-basis: 100%;
    }
  }
  #der {
    flex: 1 1 auto;
    padding: 2em;
    align-self: center;
  }
}
#compromiso {
  background: url(../img/descubre_bigen_bg_final.jpg) no-repeat;
  background-size: 40%;
  background-position: left 110%;
  .bandeja {
    @extend .elconte;
    h1 {
      margin-bottom: 0.5em;
      grid-column: 2;
    }
    p {
      text-align: center;
      grid-column: 2 / span 1;
      margin-bottom: 3em;
      padding: 0 10%;
    }
    a {
      grid-column: 2;
      justify-self: center;
      margin: 2.5em 0.5em;
    }

    #tarjetas {
      grid-column: 2;
      .tar {
        display: flex;
        align-items: center;
        padding: 1em;
        @include cel {
          flex-wrap: wrap;
        }

        img {
          width: 45%;
          @include cel {
            width: 100%;
          }
        }
        .recuadro {
          background-color: #000;
          color: #fff;
          display: flex;
          flex-wrap: wrap;
          padding: 3em 10%;

          h3 {
            flex-basis: 100%;
            font-size: 1.5em;
            align-self: center;
          }
          p {
            text-align: left;
            padding: 0;
            margin: 0;
          }
        }
      }
      .tar:nth-child(2) {
        img {
          order: 2;
          @include cel {
            order: 0;
          }
        }
        .recuadro {
          background-color: $verdeOscuro;
        }
      }
      .tar:nth-child(3) {
        .recuadro {
          background-color: $naranja;
        }
      }
    }
  }
}

//productos bigen polvo

#bigenProductos {
  @extend .elconte;

  .bandeja {
    grid-column: 2;
    text-align: center;
  }
  h1 {
    margin-bottom: 0.5em;
  }
  #polvo {
    width: 300px;
  }
  #slidePro {
    grid-column: 2;
    margin: 3em 0 2em;
    .producto {
      text-align: center;
      justify-self: center;
    }
  }
  #control {
    grid-column: 2;
    justify-self: center;
    text-align: center;
    width: 100%;
    img {
      padding: 0 1em;
    }
  }
  #kit {
    display: flex;
    flex-wrap: wrap;
    margin: 3em 0;
    justify-content: center;
    h2 {
      flex-basis: 100%;
      font-size: 2em;
      padding-bottom: 1em;
    }
    .conte {
      display: flex;
      align-items: center;

      @include cel {
        flex-wrap: wrap;
        img {
          flex: 1 1 100%;
          padding: 2em;
        }
      }

      ul {
        text-align: left;
        margin: 0 3em;
        li::before {
          content: "\2022";
          color: $naranja;
          font-weight: bold;
          display: inline-block;
          width: 1em;
          margin-left: -1em;
        }
      }
    }
  }

  #caracteristicas {
    h2 {
      font-size: 3em;
    }
    #circulos {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      .circulo {
        flex: 0 1 33%;
        padding: 2em;
        margin: 2em 0;
        @include cel {
          padding: 0em;
          margin: 0 0;
          flex: 0 2 50%;
        }
      }
    }
  }
}

.fondoBigenPolvo {
  background: url(../img/bp/bigen_polvo_fondo_modelo.jpg) no-repeat;
  background-position: left bottom;
  background-size: 30%;

  @include cel {
    background-size: 50%;
  }
}
.fondoSpeedy {
  background: url(../img/bsc/bigen-speedy-color-fondo-modelo.jpg) no-repeat;
  background-position: left bottom;
  background-size: 30%;

  @include cel {
    background-size: 50%;
  }
}
.fondoBeard {
  background: url(../img/bbc/bigen_beard_color_fondo_modelo.jpg) no-repeat;
  background-position: -80px bottom;
  background-size: 50%;

  @include cel {
    background-size: 90%;
  }
}

///mixin de cada paso
@mixin paso($colorFondo, $colorSpan, $colorHeader) {
  display: flex;
  flex: 1 0 50%;
  padding: 1em;
  @include cel {
    flex-wrap: wrap;
    flex: 1 0 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .conteIma {
    display: flex;
    background: rgb(255, 255, 255);
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 50%,
      $colorFondo 50%
    );

    @include cel {
      background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 50%,
        $colorFondo 50%
      );
      justify-content: center;
      width: 100%;
    }

    img {
      align-self: center;
      @include cel {
        width: 100px;
      }
    }
  }
  .conte {
    background-color: $colorFondo;
    padding: 2em;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    min-height: 15vw;
    align-items: center;
    justify-content: center;
    align-content: center;

    h2 {
      flex-basis: 100%;
      color: $colorHeader;
      font-size: 2em;
      @include cel {
        font-size: 1.5em;
      }
    }
    span {
      font-size: 1em !important;
      color: $colorSpan;
      width: 100%;
      text-transform: uppercase;
      font-weight: bold;
    }
    p {
      color: $colorHeader;
    }
  }
}
@mixin barra($colorFondo, $colorLetras) {
  grid-column: 1/-1;
  background-color: $colorFondo;
  text-align: center;
  h2 {
    color: $colorLetras;
    font-size: 2em;
    padding: 2em 0 4em;
    @include cel {
      font-size: 1.7em;
    }
  }
}
@mixin fondo($rutaIma, $tamano, $posY) {
  background: url($rutaIma) no-repeat;
  background-size: $tamano;
  background-position: right $posY;
}
#aplicacion {
  .bandeja {
    grid-column: 2;
    @extend .elconte;
  }

  #barra {
    @include barra($azul, #fff);
  }
  #pasos {
    grid-column: 2;
    display: flex;
    flex-wrap: wrap;
    transform: translateY(-100px);
    .paso {
      @include paso($rosa, #000, #fff);
    }
  }
  #barraSpeedy {
    @include barra($naranja, #fff);
  }
  #pasosSpeedy {
    grid-column: 2;
    display: flex;
    flex-wrap: wrap;
    transform: translateY(-100px);
    .paso {
      @include paso($azul, $naranja, #fff);
    }
  }

  @include fondo("../img/bp/bigen_polvo_fondo_modelo2.jpg", 60%, 80%);
  @include cel{
    @include fondo("../img/bp/bigen_polvo_fondo_modelo2.jpg",100%, 32%);
  }
}

#aplicacionSpeedy {
  .bandeja {
    grid-column: 2;
    @extend .elconte;
  }
  #barra {
    @include barra($naranja, #fff);
  }
  #pasos {
    grid-column: 2;
    display: flex;
    flex-wrap: wrap;
    transform: translateY(-100px);
    .paso {
      @include paso($azul, $naranja, #fff);
    }
  }

  @include fondo("../img/bsc/bigen-speedy-color-fondo-modelo2.jpg", 60%, 50%);
  @include cel{
    @include fondo("../img/bsc/bigen-speedy-color-fondo-modelo2.jpg", 130%, 28%);
  }
}

#aplicacionBeard {
  .bandeja {
    grid-column: 2;
    @extend .elconte;
  }
  #barra {
    @include barra($azul, #fff);
  }
  #pasos {
    grid-column: 2;
    display: flex;
    flex-wrap: wrap;
    transform: translateY(-100px);
    .paso {
      @include paso($verde, #fff, $azul);
    }
  }

  @include fondo("../img/bbc/bigen_beard_color_fondo_modelo2.jpg", 50%, 50%);
  @include cel {
    @include fondo("../img/bbc/bigen_beard_color_fondo_modelo2.jpg", 120%, 35%);
  }
}

.desapa {
  display: none;
  @include cel {
    display: block;
  }
  @include tableta {
    display: block;
  }
}
#pasoapaso {
  @extend .elconte;
  padding: 0 15% 3em;
  @include cel {
    padding: 0 0% 3em;
  }
  .bandeja {
    grid-column: 2;
    text-align: center;
    h2 {
      font-size: 2em;
      padding: 1em 0 0.5em;
    }
    p {
      padding: 1em 0;
    }
    ul {
      li {
        text-align: left;
        position: relative;
        padding: 1em 0 1em 2em;
        span {
          position: absolute;
          top: 20px;
          left: -10px;
          background-color: $naranja;
          color: #fff;
          font-weight: bold;
          width: 30px;
          height: 30px;
          text-align: center;
          border-radius: 999px;
        }
      }
    }
  }
  a {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
  }
}
.video {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
//encuentra
#ecuentra {
  h1 {
    margin-bottom: 0.5em;
    margin-top: 1em;
  }
  p {
    text-align: center;
    padding: 0 10%;
  }
}
#logosEncuentra {
  background-color: $naranja;
  padding: 2em;
  @include cel {
    padding: 2em 0em;
  }
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 3em;
  .logosCompra {
    flex-basis: 12%;
    display: flex;
    justify-content: center;
    margin: 0.5em;
    img {
      width: 100%;
      height: auto;
    }
    @include cel {
      flex-basis: 40%;
    }
  }
}

input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

#formalarioEcuentra {
  background: url(../img/comprar/fondo_comprar.jpg) no-repeat #010100;
  background-size: cover;

  #formu {
    @extend .elconte;

    grid-column: 2;
    padding: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    label,
    p {
      color: #fff;
    }
    label {
      flex: 1 0 50%;
      display: flex;
      flex-direction: column;
      padding: 0 1em 1em;
    }
    input,
    textarea,
    select {
      border: solid 1px #fff;
      background: transparent;
      padding: 0.8em;
      color: #fff;
      margin: 0;
      &::placeholder {
        font-weight: bold;
        text-align: center;
        color: $naranja;
      }
    }
    #comentarios {
      flex-basis: 100%;
    }
    .radio {
      flex-basis: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      padding: 2em 0;
      @include cel {
        display: block;
        text-align: center;
      }
      p {
        padding-bottom: 0.5em;
        flex-basis: 100%;
      }
      label {
        all: initial;
        color: #fff;
        font-family: "Titillium Web", sans-serif;
        font-size: calc(100% + 0.1vw);
      }
    }
    input[type="submit"] {
      background-color: #fff;
      color: #000;
      flex-basis: 20%;
      height: 40px;
      @include cel {
        flex-basis: 50%;
      }
    }
  }
}

//dudas
#dudas {
  h1 {
    margin-bottom: 0.5em;
  }
  p {
    padding: 0 10%;
    text-align: center;
    margin-bottom: 4em;
  }
}
#conte {
  background: url(../img/resuelve/resuelve_fondo_modelo.jpg) no-repeat,
    url(../img/resuelve/resuelve_fondo_modelo2.jpg) no-repeat;
  background-size: 40%, 40%;
  background-position: right top, left bottom;
  @include cel{
    background-size: 40%, 70%;
  }
  #respuestas {
    @extend .elconte;
    grid-column: 2;
    display: flex;
    flex-wrap: wrap;

    .tintesLigas {
      flex: 1 1 auto;
      align-self: flex-start;
      position: sticky;
      top: 0%;
      border-right: solid 2px #000;
      margin-right: 2em;
      text-align: center;
      z-index: 9000;
      .tinte {
        padding: 1em;
        p {
          font-weight: bold;
        }
      }
      @include cel {
        display: flex;
        justify-content: space-around;
        border-right: none;
        border-bottom: solid 1px $gris;
        background-color: #fff;
        padding: 1em 0;
        flex: 1 0 100%;
      }
    }
    .bandejaRes {
      flex: 1 0 60%;
      @include cel {
        flex: 1 0 100%;
        padding: 5%;
      }
      h2 {
        font-family: "Bebas Neue", cursive;
        font-size: 2.5em;
        padding: 0.5em 0 0.5em;
        margin-top: 1em;
      }

      #Polvo h2 {
        padding: 0 0 0.5em;
        margin-top: 0em;
      }
      h4 {
        // font-family: "Bebas Neue", cursive;
        font-size: 1.5em;
        font-weight: bold;
        padding: 0 0 0.8em 1.2em;
        position: relative;
        &:before {
          content: "";
          width: 20px;
          height: 20px;
          background: url(../img/resuelve/btn_abajo.jpg) no-repeat;
          background-size: cover;
          position: absolute;
          top: 11px;
          left: 0px;
        }
      }
      .h4Arriba {
        &:before {
          content: "";
          background: url(../img/resuelve/btn_arriba.jpg) no-repeat !important;
          background-size: cover !important;
        }
      }
      p {
        margin-bottom: 0em;
        max-height: 0px;
        overflow: hidden;
        transition: all 1s ease;
        padding-left: 1.8em;
      }
      .muestrame {
        max-height: 200px;
        margin-bottom: 1.5em;
      }
    }
  }
  #otraduda {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 4em;
    h2 {
      flex-basis: 100%;
      margin-bottom: 1em;
    }
  }
}
#productosDudas {
  background-color: $naranja;
  display: flex;
  justify-content: center;
  padding: 2em;
  @include cel {
    flex-wrap: wrap;
  }
  .ligasSeccionesDudas {
    @include cel {
      flex: 1;
      justify-content: space-between;
    }
    text-align: center;
    color: #fff;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    flex: 0 0 230px;
    img {
      transform: translateX(20px);
      -webkit-transform: translateX(20px);
      @include cel {
        width: 130px;
        height: auto;
      }
    }
    p {
      font-weight: bold;
      padding-bottom: 1em;
    }
    &:nth-child(3) {
      justify-content: space-between;
    }
  }
}
#contactoh1 {
  h1 {
    margin-top: 1em;
    margin-bottom: 0.5em;
  }
  p {
    padding: 0 10%;
    text-align: center;
    margin-bottom: 2.5em;
  }
}
#contactoBandeja {
  background: url(../img/contacto_fondo.jpg) no-repeat;
  background-position: right top;
  background-size: cover;
  @include cel {
    background-position: -100px 0px;
    background-size: 120%;
  }
  .formuCOnta {
    @extend .elconte;
  }
  .bandeja {
    grid-column: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10% 3%;
    @include cel {
      padding: 0%;
    }

    input {
      background: none;
      border: none;
      border-bottom: solid 2px #000;
      padding: 1em;
    }
    select,
    textarea {
      border: solid 2px #000;
      padding: 1em;
      background: none;
    }

    label {
      flex-basis: 50%;
      display: flex;
      flex-direction: column;
      padding: 1em;
      @include cel {
        flex-basis: 100%;
      }
    }
    label[for="Comentarios"] {
      flex-basis: 100%;
    }
    input[type="submit"] {
      background-color: #000;
      color: #fff;
      flex-basis: 30%;
      @include cel {
        flex-basis: 50%;
      }
    }
  }
  #tarjetas {
    flex-basis: 100%;
    display: flex;
    margin: 3em 0;
    @include cel {
      flex-wrap: wrap;
    }
    .tar {
      flex: 1;
      background-color: #fff;
      padding: 2em;
      text-align: center;
      margin: 1em;
      border-bottom: solid 10px $naranja;
      -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.6);
      box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.6);
    }
    .tar:nth-child(2) {
      border-bottom: solid 10px $verde;
    }
    .tar:nth-child(3) {
      border-bottom: solid 10px $rosa;
    }
  }
}
#privacidad {
  background: url(../img/privacidad.jpg) no-repeat;
  background-size: 50%;
  background-position: top right;
  .conte {
    @extend .elconte;
  }
  .bandeja {
    grid-column: 2;
    p {
      padding: 1.5em 0;
    }
  }
}

// Blog

#blog {
  background-image: url(../img/blog_fondo_modelo.jpg),
    linear-gradient(
      180deg,
      rgba(255, 255, 255, 1) 70%,
      rgba(210, 221, 114, 1) 100%
    );
  background-repeat: no-repeat, repeat-x;
  background-position: right top, bottom;
  background-size: 30%, 100%;
  @include cel {
    background-size: 50%;
    background-position: right 8%;
  }

  #elconteBlog {
    @extend .elconte;
  }
  .encabezado {
    grid-column: 2;
    text-align: center;
    padding: 2em 10%;
    img {
      max-width: 300px;
      @include cel {
        max-width: 200px;
      }
    }
  }
  .bandeja {
    grid-column: 2;

    .postBlog {
      display: flex;
      margin: 2em 0;
      @include cel {
        flex-direction: column;
      }

      .conteIma {
        flex-basis: 50%;
        padding: 2em 0;
        background: rgb(255, 255, 255);
        background: linear-gradient(
          90deg,
          rgba(255, 255, 255, 0) 80%,
          $naranja 80%
        );
        @include cel {
          background: linear-gradient(
            0deg,
            $naranja 20%,
            rgba(255, 255, 255, 0) 20%
          );
          padding: 0px 1em;
        }

        img {
          width: 100%;
          height: auto;
          object-fit: cover;
        }
      }

      .conteTxt {
        flex-basis: 50%;
        background-color: $naranja;
        color: #fff;
        padding: 0 10%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        align-content: center;
        @include cel {
          padding: 10%;
          text-align: center;
          display: flex;
          justify-content: center;
        }
        h3 {
          font-size: 1.5em;
        }
        p {
          padding-bottom: 0.5em;
        }
      }
    }

    .postBlog:nth-child(2n + 2) {
      .conteIma {
        background: linear-gradient(
          90deg,
          $verdeOscuro 20%,
          rgba(255, 255, 255, 0) 20%
        );
        order: 2;
        @include cel {
          order: 0;
          background: linear-gradient(
            0deg,
            $verdeOscuro 20%,
            rgba(255, 255, 255, 0) 20%
          );
        }
      }

      .conteTxt {
        background-color: $verdeOscuro;
      }
    }
  }
  #paginasBlog {
    display: flex;
    justify-content: center;
    align-items: center;
    li {
      list-style: none;
      background-color: #000;
      margin: 2em 0.2em;
      a {
        padding: 0.5em;
        color: #fff;
      }
    }
  }
}

#single {
  background: linear-gradient(0deg, $verde 0%, #fff 10%);
  #singleHeader {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    background: linear-gradient(0deg, $naranja 97%, rgb(128, 72, 0) 100%);

    padding: clamp(1em, 5vw, 10em);
    margin-bottom: 5em;
    .conteHeader {
      display: flex;
      flex-direction: column;
      h1 {
        all: initial;
        font-size: clamp(2em, 4vw, 5em);
        font-family: "Bebas Neue", cursive;
        color: #fff;
        padding: 0;
        margin: 0;
        text-align: left;
      }
      img {
        max-width: 150px;
        padding-bottom: 0.5em;
      }
    }
  }
  .bandeja {
    @extend .elconte;

    #cuerpoSingle {
      grid-column: 2;
      h2 {
        padding: 0 1.3em;
      }
      p {
        padding: 0 2em 2em;
      }
      img {
        width: 100%;
        height: auto;
        margin-bottom: 2em;
      }
    }
    .masentradas {
      grid-column: 2;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 3em 0;
      .botones {
        text-align: center;
        flex-basis: 50%;
        margin-bottom: 3em;
      }
    }
  }
}
